.idea
node_modules
node_stuff
*.log
comp.pid
watcher.pid
*.pid
/tmp
/app_target
/target
/lib
/classes
/resources/public/compositions/*
/resources/public/compositions
/resources/fixtures/tmp
/checkouts
/attic
/target/classes
pom.xml
pom.xml.asc
*.swp
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
tmp.*
*.swo
**.swp
tmp
tmp.txvg
doremi2ly
to_lilypond
doremiparse
to_lilypond
tmp*
.nrepl-port
nohup.out
server.log
