compositions
.git*
Cakefile
build_parser.sh
deploy_local.sh
install_prerequisites
temp.html
notation_examples
npm-debug.log
*.md
runtests.sh
samples/
vendor/
webapp/
watch.sh

*.swp
last.*
test.txt
npm-debug.log
nohup.out
