!!! 5
%html
  %head
    %meta{"charset" => "UTF-8"}
    %title{"data-bind" => "text: title"}
    %link{:href => "css/application.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/styles.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/doremi.css", :rel => "stylesheet", :type => "text/css"}

  %body{"data-bind" => "event: {resize: composition_handle_resize}"}
    = render_file('body.haml')
    <span class="note testing_utf_support" id="utf_left_repeat" style="display: none; ">&#x1d106;</span>
    <span id="utf_single_barline" class="note testing_utf_support" style="display: none; ">&#x1d100;</span>
    %script{:src => "js/knockout-2.0.0.debug.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/third_party/jquery.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/third_party/jquery.autogrow-textarea.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/third_party/underscore.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/underscore.logger.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/shims.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/all_items.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/shared.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/third_party/fraction.js", :type => "text/javascript"}
    <script type="text/javascript">
    // Hack part 1- to make Hypher.js work in the browser.
    window.module= {exports:[]}
    </script>
    %script{:src => "js/doremi-script/third_party/hypher/hypher.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/third_party/hyphenation_patterns/en-us.js", :type => "text/javascript"}
    <script type="text/javascript">
    // Hack part 2 to make Hypher.js work in the browser
    window.english=window.module.exports 
    window.module=undefined;
    </script>
    %script{:src => "js/doremi-script/tree_iterators.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/parser_helper.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/to_lilypond.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/to_musicxml.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/doremi_script_parser.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/doremi_script_line_parser.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/dom_fixer.js", :type => "text/javascript"}
    %script{:src => "js/doremi-script/html_renderer.js", :type => "text/javascript"}
    / stash css and javascript here when necessary to generate a standalone page.
    %script#css_for_html_doc{:type => "text/html"}
    %script#zepto_for_html_doc{:type => "text/html"}
    %script#dom_fixer_for_html_doc{:type => "text/html"}
    %script#testing_utf_support{:type => "text/html"}
    %script{:src => "js/application.js", :type => "text/javascript"}

