.hidden {
		display:none;
}
img.hidden {
		display:none;
}
.displayKind {
		font-weight:bold;
}
div.controls div,
div.controls button,
div.controls span,
div.controls a {
 margin-right: 2em;
}
.exampleTxt {
  border: 1px solid black;
	display: inline-block;
	padding: 0.2em;
	font-size: 1.0em;
}
textarea.entryArea {
		/* don't try nowrap or overflow: auto. Causes problems in chrome */
		font-family: monospace; 
		padding-left: 1em;
		font-size: 1.6em;
		height: 4.80em;
		width:100%; 
		/*  height:100%; */
		position:relative;
		left:1em;
		padding:0.3em;
		margin-bottom:0.8em;
		border:none;  /* 0px solid white; */
}
textarea:focus {
		outline: none;
}
div.entryAreaBox {
		position: relative;
		left: 5px; 
		top: 5px;
		right: 5px; 
		bottom: 5px;
		border: 1px solid #CCC; /* style like textarea */
}
div.editLineWrapper.line_parse_failed, div.line_parse_failed, div.compositionParseFailed {
		border: 2px solid #999;
}

.compositionParseFailed {
		margin-top: 2em;
}
