div.controls a {
  margin-right: 10px;  
}

div#composition_info label {
  width:100px;  
  display: inline-block;
}
div#composition_info ul {
  list-style-type:none;
  width: 100%;
  margin:auto;
  padding:0;
}
div#composition_info li {
  float: left;
  margin-right:20px;
}
button#help_button {
   margin-left: 53px;  
   margin-right: 53px;  
}

span.open_file {
  display:inline-block;
  border: 1px solid black;
  margin-left: 15px;
  margin-right:15px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding:8px;
  background-color:blanchedAlmond;
}
h1.title {
  font-size:16px;
  font-weight: bold;
}
span.apply_hyphenated_lyrics{
  font-weight:bold;
  padding:3px;
  border: 1px solid black;
  display:inline-block;
}
textarea:focus {
  outline: none;
}
input[type="radio"]:checked+label{
  font-weight: bold;
  background-color:gainsboro;
}
div.line_controls button {
  font-size:10px;
}
div.stave_wrapper.editing {
  border:2px solid black;
  padding-bottom:8px;
  padding-right:8px;
}
a.close_box {
  position:absolute;
  left:4px;
}
div.line_controls button.close_edit {
  font-size:14px;
}
div.stave_wrapper {
  clear:both;
  /* border:1px solid black; */
  margin:0px;
}
div.controls_column {
  float:left;
}
div.line_controls {
  float:left;
  width: 120px;
}

textarea.entry_area {
  width:100%; 
 /*  height:100%; */
  position:relative;
  left:20px;
  margin:0;
  border:none;  /* 0px solid white; */
 }

div.entry_area_wrapper {
  position: relative;
  left: 5px; 
  top: 5px;
  right: 5px; 
  bottom: 5px;
  border: 1px solid #CCC; /* style like textarea */
}

span#save {
  display: inline-block;  
  width:76px;
  margin-top: -5px;
  position:relative;
  top:5px;
}

table.linesEditor th {
  text-align:left;
}
tr.line_header {
  border: none;
}
fieldset#composition_info {
}

textarea.parse_failed {
  border-color:red;
  border-width:2px;
}
div.open_file_div {
  border: 2px solid black;
}
