@charset "UTF-8";

/* 
#Site Name# CSS Document
Created by Dave Buchholz - I-CRE8
Date Created: dd/mm/yyyy
Version: #

Table of Contents

1. Global Reset
2. Page Styles, Layout Wrappers etc.
3. Header & Text Styles
4. Navigation Styles
5. Form Styles
6. Error Message Styles
7. Google Maps
*/


/* 
1. Global Reset based on Eric Meyer's Suggestions http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%; /* Standard Browser Setting Font Size (generally 16px) */
	vertical-align: baseline;
	background: transparent;
}

body {
	font-family: Arial, Helvetica, sans-serif; /* reset to desired font families */
	line-height: 1.125em;  /*16px (Standard Browser Setting Font Size) × 1.125 = 18px */
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
2. Page Styles, Layout Wrappers etc.
*/

body {
	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
	background-color: #FFFFFF;
	margin: 0;
	padding: 16px;
}

/* force vertical scroll bar to keep centred layouts in the same place regardless of content length */
html {
	margin-bottom: 1px;
	min-height: 100%;
}

/* 
3. Header & Text Styles
*/

h1, h2, h3, h4, h5, h6 {
}

h1 {
	font-size: 1.375em; /* 16px (Standard Browser Setting Font Size) x1.375 = 22px */
	line-height: 1.636em; /* 16px (Standard Browser Setting Font Size) x 1.636 = 36px */
}

h2 {
	font-size: 1.125em; /* 16px (Standard Browser Setting Font Size) x 1.125 = 18px */
	margin: 1em 0; /* 18px x 1 = 18px */
}

h3 {
	font-size: 1em; /* 16px (Standard Browser Setting Font Size) x 1 = 16px */
	margin: 1em 0; /* 16px x 1 = 16px */
}

h4 {
	font-size: 1em; /* 16px (Standard Browser Setting Font Size) x 1 = 16px */
	font-weight: normal;
	margin: 1em 0; /* 16px x 1 = 16px */
}

p {
	font-size: 0.875em; /* 16px (Standard Browser Setting Font Size) x 0.875= 14px */
	margin-bottom: 1.286em; /* 14px x 1.286 = 18px */
}

p a:focus {
	background-color: #000;
	color: #fff;
}
	

/*
4. Navigation Styles
*/

#menubar {
	background-color: #010101;
/*	background-image: url(../images/dark.jpg); oops. couldn't find dark.jpg !!  */
	background-repeat: repeat-x;
	border-bottom: 1px solid #333;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	float: left; /* contain li floats by floating the ul left */
	line-height: 1; /* this enables the top position of the #menubar li:hover ul, #menubar li.sfHover ul rule to be calculated by adding this figure to the padding on #menubar a 1em + 2 x 0.5em = 2em */
	margin-bottom: 1em;
	width: auto; 
}

#menubar a {
	display: block;
	text-decoration: none;
	padding: .5em .75em;
	border-right: 1px solid #333;
	font-size: 1em;
	color: #fff;
}

/* set width of top level menu, float them left and give them position relative so that the 2nd tier menu's will sit under them */
#menubar li {
	float: left;
	width: 9em;
	position: relative;
}

/* 2nd tier and lower sub menus move off screen until required */
#menubar li ul {
	background-color: #454545;
	background-repeat: no-repeat;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
	display: none;
	margin-left: -1px;
	position: absolute;
	top: -999em;
}

/* give 2nd tier and lower sub menus a width and remove bullets */
#menubar li ul, #menubar ul li {
	list-style: none;
	width: 9em;
}

#menubar ul li a {
	border-right: 0; /* remove right border from 2nd tier and lower links */
}

#menubar li:hover ul, #menubar li.sfHover ul {
	top: 2em; /* position 2nd tier menu under the top level menu */
}

#menubar li:hover a, #menubar a:hover, #menubar a:focus, #menubar a:active, #menubar li.sfHover a, #menubar li.current {
	color: #fff;
	background-color: #454545;
}

#menubar li:hover ul, #menubar li.sfHover ul, #menubar a:focus ul, body #menubar li.hover ul {
	display: block;
}

#menubar ul a:hover, #menubar ul a:focus {
	background-color: #000!important;
	color: #FFFFFF!important;
}

/**** Position of third tier of nav ****/
 /* Note that this rule must appear here in the code order in order for it to override previous positioning rules so that this and subsequent nested submenus still remain hidden when the parent submenu is shown. Do not group these selectors with other top:-999em rules */
#menubar li:hover li ul, #menubar li.sfHover li ul {
	top:-999em; /* hide submenu in screen-reader and search-engine friendly way */
}

/* DO NOT attempt to group these selectors with similar earlier rules. The code order is important so the rules override previous ones correctly */
#menubar li li:hover ul, /* this pure CSS hover is overridden by the .superfish rules below which are applied only when JavaScript is available. This way, the menu degrades to regular CSS dropdown when JavaScript is unavailable */ ul#menubar li li.sfHover ul /* this is the familiar IE6 hover support. With Superfish, all browsers use this rule when JS is available. This is because the JS needs to be able to control hide and reveal delays and animations without the pure CSS rule intruding. Note the tag selector ul#menubar instead of just #menubar - this gives it the most specificity of all and makes it trump all other positioning rules, including the .superfish overrides below */ {
	left:9em; /* VARIABLE. Offset subsequent submenus to the right by the amount you set for the submenu widths (see #menubar ul rules above) */
	top:-1px; /* position subsequent submenus horizontally aligned to parent li */
	border-top: 1px solid #333;
}

/* The single backslash \ character inside this comment causes IE5 Mac to ignore the following rule. */

#menubar li {
	width: auto;
}

/**** Very important ****/
/* this negates the pure CSS hovers so submenu remains hidden and JS controls when and how it appears. This is in turn is overridden by the .sfHover rules above as they have greater specificity */
/* notice there are three selectors here. You need three for a four tier menu system. If you had a five tier system you would copy the last selector of these three and paste it below to create a fourth selector and add another li just after the .superfish part. On the other hand if you only had a three tiered menu you could delete the third line here and save some file size.*/
.superfish li:hover ul, .superfish li li:hover ul, .superfish li li li:hover ul {
	top: -999em; /* hide submenu in screen-reader and search-engine friendly way */
}

/* 
5. Form Styles
*/

fieldset {
	border: none;
	border-top: 1px solid #555;
	margin-top: 1em;
	padding: 0 1em 1em;
}

legend span {
	display: block;
	font-size: 0.875em;
	padding: 0 0.25em;
}

label {
	display: block;
	float: left;
	font-size: 0.875em;
	padding: 0 0.25em 0 0;
	text-align: right;
	width: 8em; /* can be reset on individual basis as required */
}

form div {
	margin-top: 8px;
}

label.hide-it {
	color: #fff; /* must be same colour as document background */
}

/* 
6. Error Styles
*/
#errors {
	margin: 0 0 10px 0;
	padding: 5px 10px;
	border: #FC6 1px solid;
	background-color: #FFC;
}

#errors h3 {
	margin-top: 0;
	color: #C00;
}

#errors ul {
	list-style: disc;
	margin-left: 1em;
	padding-left: 1em;
}

.error {
	background-color: #FFC;
}

/* 
7. Google Maps
*/
#wagmp_map_1 {
}
