            <note>
                <pitch>
                    <step>{{step}}</step>
                    <octave>{{octave}}</octave>
                </pitch>
                <duration>{{duration}}</duration>
                <voice>1</voice>
            </note>
